button {
    cursor: pointer;
}

.el_info_main_block {
    width: 980px;
    height: 2000px;
    margin-left: 10px;
    margin-top: 180px;
}

.el_info_first_block {
    margin-top: 30px;
    width: 980px;
    height: 190px;
    background: #303030;
}

#el_info_data_frequency {
    position: absolute;
    top: 95px;
    right: 50px;
    font-size: 34px;
    color: #FCFCFC;
}

#el_info_data_frequency:hover {
    background: #424242;
}

.el_info_data_title, .archive_title {
    position: absolute;
    margin-top: 18px;
    margin-left: 38px;
    font-size: 34px;
    color: #FCFCFC;
}

.el_info_data {
    font-size: 24px;
    color: #F6F6F6;
    margin-top: 0px;
    line-height: 0.5em;
}


.el_info_second_block {
    margin-top: 5px;
    width: 980px;
    height: 600px;
    background: #303030;
}

.el_info_form, .archive_form {
    width: 1000px;
    height: 2000px;
    padding: 0 0px;
    margin-top: 0px;
    border: 0px;
    background: #212121;
    }

#el_info_form_span, #archive {
    position: absolute;
    color: white;
    font-size: 50px;
    margin-left: 160px;
    margin-top: 25px;
    width: 600px;
    white-space: nowrap;
    overflow: hidden;
}

.bt_edit {
    position: absolute;
    margin-top: 35px;
    right: 140px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

#bt_edit_img {
    width: 40px;
    height: 40px;
    fill: white;

}

.bt_dop {
    float: right;
    cursor: pointer;
    margin-top: 35px;
    margin-right: 55px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
}

#bt_dop_img {
    width: 40px;
    height: 40px;
    fill: white;
}

.bt_dop:active, .bt_edit:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.bt_dop:hover .bt_edit:hover {
    background: white;
}

.dropdown {
  width: 50px;
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  width: 400px;
  height: 240px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #212121;
  min-width: 300px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Ссылки внутри выпадающего списка */
.dropdown-content button {
  width: 400px;
  height: 120px;
  text-align: left;
  padding-left: 30px;
  color: #919191;
  background: none;
  border: none;
  font-size: 32px;
  text-decoration: none;
  display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content button:hover {background-color: #464646}

.show {
    display:block;
}


.delete_form, .habit_done_form {
    position: absolute;
    justify-content: center;
    margin-top: 0px;
    height: 2000px;
    width: 950px;
    background: rgba(0, 0, 0, 0.5);

}

.delete_form_block, .habit_done_block {
    position: absolute;
    border: none;
    background: #424242;
    width: 900px;
    height: 400px;
    margin-left: 25px;
    margin-top: 500px;
}

.delete_form p, .delete_form h2, .habit_done_block p, .habit_done_block h2 {
    color: #FCFCFC;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 50px;
}

.delete_habit_block_btn {
    position: absolute;
    top: 310px;
    right: 0px;
}

.delete_habit_btn {
    width: 100px;
    color: #FCFCFC;
    background: none;
    border: none;
    font-size: 42px;
    margin-right: 60px;
}

.delete_habit_btn:active, .delete_habit_btn:hover{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.1);
}

.habit_done {
    position: absolute;
    font-size: 24px;
    margin-left: 550px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
}

.el_info_calendar {
    display: table-cell;
    float: right;
    width: 50px;
    padding: 1px;
    height: 400px;
    margin-top: 40px;

    list-style-type: none;
}

.el_info_calendar li {
    width: 50px;
    height: 50px;
}

.el_info_calendar_btn {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    background: #424242;
    border: none;
    color: #9E9E9E;
    font-size: 24px;

}

.el_info_calendar_block {
    position: absolute;
    width: 850px;
    margin-left: 35px;
    height: 440px;
    margin-right: 0px;

    margin-top: 100px;
    overflow: hidden;
}

.el_info_calendar_days_week {
    position: absolute;
    margin-top: 100px;
    right: 30px;
    width: 50px;
    height: 360px;
    font-size: 24px;
    color: #9E9E9E;
}
.el_info_calendar_days_week li {
    margin-top: 1px;
}

.archive_form_block {
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    width: 980px;
    height: 1000px;
}

.archive_form_block ul {
    position: absolute;
    padding: 0px;
    padding-inline-start: 0px;
}

.archive_form_block li {
    list-style-type: none;
    margin: 0px;
}

.archive_form_data {
    width: 980px;
    height: auto;
    background: #303030;
    margin: 0px 0px 10px;
}

.block1 {
  width: 100%;
  height: 100%;
  right: 0px;
  position: absolute;

}

.month_title {
    position: absolute;
    width: 100px;
    top: 0px;
    margin-left: 60px;
    color: #FCFCFC;
    font-size: 22px;
}